.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    /* margin-top: 0; */
    /* margin-bottom: 0.5rem; */
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin: 0;
}

.UserContainer{
    background-color: #9aadbf;
    border-right: solid 7px black;
    border-left: solid 7px black;
    width: 1150px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.Ah2{
    /* Preguntar pq si pongo Margin se baja el div principal y pq con el grid se comportan raro los estilos */
    margin-bottom: 18px;
    font-size: 65px;
}

.selection{
    display: grid;
    grid-template-columns:  repeat(2, 0.3fr);
    justify-content: center;
    align-items: center;
}


.selection_button{
    background-color: whitesmoke;
    margin-top: 20px;
    margin-left: 50px;
    width:50%;
    border: 2px solid black; 
    border-radius: 20px;
    font-size: 18px;
    padding: 3px;
}

.selection_button:hover{
    background-color: rgb(134, 189, 203);
    box-shadow: 0 0 15px #0088a9;
    box-shadow: 0 0 45px #0088a9;

}

.FotoProfile{
    width: 170px;
    height: 170px;
    /* Hace que la imagen sea redonda */
    border-radius: 50%;
    border: 2px solid gray;
    margin-left: 120px;
}

.nombre_usuario{
    font-size: 45px;
}



.datos_usuario{
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    grid-template-rows: repeat(2, 0.3fr);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-bottom: 20px; PReguntar pq hace que se separe el contenedor*/
    font-size: 30px;

    
}

/* .datosName{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 10px;
}

.datosEmail{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px;
} */

