footer {
    background-color: #24252a;
    min-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  @media screen and (max-width: 550px) {
    footer {
      flex-direction: column;
      padding: 5px;
    }
  }
  footer .logo {
    height: 7vh;
  }
  footer .logotipo {
    font-size: 25px;
    font-weight: 400;
    color: white;
    text-align: center;
    font-family: "Bruno Ace SC", cursive;
  }
  footer p {
    font-size: 15px;
  }
  footer span {
    font-size: 30px;
    padding: 5px;
  }
  footer .i {
    text-decoration: none;
    color: white;
    margin: px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    transition: 0.3 ease;
  }
  footer .fa-youtube {
    background-color: red;
    padding: 2px;
    border-radius: 10px;
    color: white;
  }
  footer .fa-youtube:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red;
    box-shadow: 0 0 45px red;
    box-shadow: 0 0 75px red;
  }
  footer .fa-instagram {
    background-color: rgb(189, 42, 91);
    padding: 2px;
    border-radius: 10px;
    color: white;
  }
  footer .fa-instagram:hover {
    background-color: rgb(217, 44, 154);
    color: white;
    box-shadow: 0 0 15px rgb(217, 44, 154);
    box-shadow: 0 0 45px rgb(217, 44, 154);
    box-shadow: 0 0 75px rgb(217, 44, 154);
  }
  footer .fa-whatsapp {
    background-color: rgb(37, 187, 37);
    padding: 2px;
    border-radius: 10px;
    color: white;
  }
  footer .fa-whatsapp:hover {
    background-color: rgb(53, 214, 39);
    color: white;
    box-shadow: 0 0 15px rgb(53, 214, 39);
    box-shadow: 0 0 45px rgb(53, 214, 39);
    box-shadow: 0 0 75px rgb(53, 214, 39);
  }
  footer .fa-linkedin {
    background-color: rgb(43, 97, 184);
    padding: 2px;
    border-radius: 10px;
    color: white;
  }
  footer .fa-linkedin:hover {
    background-color: rgb(28, 70, 177);
    color: white;
    box-shadow: 0 0 15px rgb(28, 70, 177);
    box-shadow: 0 0 45px rgb(28, 70, 177);
    box-shadow: 0 0 75px rgb(28, 70, 177);
  }